body {
    background-color:azure ;
}

.prodotto {
    margin: 3%;
    display: flex;
    align-items: center;
}

p {
    margin: 5%;
}

.image {
    border: 2px solid black;
}

.aggiungiAlCarrello {
    width: 50%;
    height: 25%;
}